In [18]:
%run Requirements.ipynb

repo & folder name: GreenhouseData
Requirements imported!

In [19]:
COUNTRY_DICT_LOAD = json.load(open("../supplemental/COUNTRY_DICT_ISO3.json", "r"))

In [23]:
df = pd.read_csv("https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv")
df = df.rename({"iso_code" : "code"}, axis=1)
list(df.columns)

['code',
 'country',
 'year',
 'co2',
 'co2_per_capita',
 'trade_co2',
 'cement_co2',
 'cement_co2_per_capita',
 'coal_co2',
 'coal_co2_per_capita',
 'flaring_co2',
 'flaring_co2_per_capita',
 'gas_co2',
 'gas_co2_per_capita',
 'oil_co2',
 'oil_co2_per_capita',
 'other_industry_co2',
 'other_co2_per_capita',
 'co2_growth_prct',
 'co2_growth_abs',
 'co2_per_gdp',
 'co2_per_unit_energy',
 'consumption_co2',
 'consumption_co2_per_capita',
 'consumption_co2_per_gdp',
 'cumulative_co2',
 'cumulative_cement_co2',
 'cumulative_coal_co2',
 'cumulative_flaring_co2',
 'cumulative_gas_co2',
 'cumulative_oil_co2',
 'cumulative_other_co2',
 'trade_co2_share',
 'share_global_co2',
 'share_global_cement_co2',
 'share_global_coal_co2',
 'share_global_flaring_co2',
 'share_global_gas_co2',
 'share_global_oil_co2',
 'share_global_other_co2',
 'share_global_cumulative_co2',
 'share_global_cumulative_cement_co2',
 'share_global_cumulative_coal_co2',
 'share_global_cumulative_flaring_co2',
 'share_global_cumulative_gas_co2',
 'share_global_cumulative_oil_co2',
 'share_global_cumulative_other_co2',
 'total_ghg',
 'ghg_per_capita',
 'total_ghg_excluding_lucf',
 'ghg_excluding_lucf_per_capita',
 'methane',
 'methane_per_capita',
 'nitrous_oxide',
 'nitrous_oxide_per_capita',
 'population',
 'gdp',
 'primary_energy_consumption',
 'energy_per_capita',
 'energy_per_gdp']

In [ ]:
df

,code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25984,ZWE,Zimbabwe,2016,10.738,0.765,1.415,0.639,0.046,6.959,0.496,...,2.076,11.50,0.820,6.21,0.443,14030338.0,2.096179e+10,46.666,3326.073,2.226
25985,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,5.665,0.398,...,2.023,11.62,0.816,6.35,0.446,14236599.0,2.194784e+10,45.936,3226.617,2.093
25986,ZWE,Zimbabwe,2018,11.854,0.821,1.308,0.697,0.048,7.101,0.492,...,2.173,11.96,0.828,6.59,0.456,14438812.0,2.271535e+10,47.502,3289.887,2.091
25987,ZWE,Zimbabwe,2019,10.949,0.748,1.473,0.697,0.048,6.020,0.411,...,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN,49.427,3374.877,NaN
25988,ZWE,Zimbabwe,2020,10.531,0.709,NaN,0.697,0.047,6.257,0.421,...,NaN,NaN,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN

## add maps and geometry

In [33]:
df_map = gpd.read_file("https://raw.githubusercontent.com/CrazyDaffodils/Interactive-Choropleth-Map-Using-Python/master/bokeh-app/data/merged.geojson")
df_map = df_map.iloc[:,[0,1,8]]
df_map = df_map.rename({"country_code":"code"}, axis=1)
df_map

,country_name,code,geometry
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...
171,Republic of Serbia,SRB,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
172,Montenegro,MNE,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
173,Kosovo,KOS,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
174,Trinidad and Tobago,TTO,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
175,South Sudan,SDS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

# Merging

In [42]:
dfx = df.merge(df_map, how="outer")
dfx

,code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,country_name,geometry
0,AFG,Afghanistan,1949.0,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
1,AFG,Afghanistan,1950.0,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
2,AFG,Afghanistan,1951.0,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
3,AFG,Afghanistan,1952.0,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
4,AFG,Afghanistan,1953.0,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25992,PSX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine,"POLYGON ((35.39756 31.48909, 34.92741 31.35344..."
25993,CYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Cyprus,"POLYGON ((32.73178 35.14003, 32.80247 35.14550..."
25994,SOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somaliland,"POLYGON ((48.94820 11.41062, 48.94820 11.41062..."
25995,KOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
25996,SDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

# Saving

In [46]:
dfx.to_csv("../supplemental/country_supplemental_metrics.csv")
pd.read_csv("../supplemental/country_supplemental_metrics.csv")

,Unnamed: 0,code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,...,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,country_name,geometry
0,0,AFG,Afghanistan,1949.0,0.015,0.002,NaN,NaN,NaN,0.015,...,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51860680528867 37.36278432875879,..."
1,1,AFG,Afghanistan,1950.0,0.084,0.011,NaN,NaN,NaN,0.021,...,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51860680528867 37.36278432875879,..."
2,2,AFG,Afghanistan,1951.0,0.092,0.012,NaN,NaN,NaN,0.026,...,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51860680528867 37.36278432875879,..."
3,3,AFG,Afghanistan,1952.0,0.092,0.012,NaN,NaN,NaN,0.032,...,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51860680528867 37.36278432875879,..."
4,4,AFG,Afghanistan,1953.0,0.106,0.013,NaN,NaN,NaN,0.038,...,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN,Afghanistan,"POLYGON ((66.51860680528867 37.36278432875879,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25992,25992,PSX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine,"POLYGON ((35.39756066258605 31.48908600516758,..."
25993,25993,CYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Cyprus,"POLYGON ((32.73178022637745 35.14002594658844,..."
25994,25994,SOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somaliland,"POLYGON ((48.94820475850985 11.41061728169797,..."
25995,25995,KOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,"POLYGON ((20.59024654668023 41.85540891928363,..."
25996,25996,SDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,"POLYGON ((30.83385242171543 3.509171604222463,..."